<div class="modal fade" style="display: none;" id="bold-cart-modal" aria-labelledby="boldcartmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      	<div class="modal-body">
        <div class="bold-image"></div>
        <div class="bold-title"></div>
        <div class="bold-price"></div>
        <div class="bold-desc"></div>
        <div class="bold-options"></div>
    	</div>
    </div>
  </div>
</div>
<style> .bold-image img{margin:0 auto 10px;display:block}.bold-price,.bold-title{text-align:center;font-size:17px;font-weight:900}.bold-desc{text-align:center}.bold-options{padding:10px}.modal-footer-buttons{text-align:center;margin-top:10px}</style>
