<!-- /templates/page.liquid -->
    <div class="grid--full glass">
      <div class="grid--full one-whole">
        <header class="section-header text-center">
          <h1>{{ page.title }}</h1>
          <hr class="hr--medium">
        </header>
      </div>
      <div class="grid__item one-whole">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div>
